docroot/bankservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.fusiontech.com/bankservice/wsdl/1.0"
	xmlns:transport="http://www.fusiontech.com/bankservice/transports/xsd/1.0"
	targetNamespace="http://www.fusiontech.com/bankservice/wsdl/1.0"
	name="BankServiceWSDL">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.fusiontech.com/bankservice/wsdl/1.0"
	                xmlns:transport="http://www.fusiontech.com/bankservice/transports/xsd/1.0"
	                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	      	<xsd:import namespace="http://www.fusiontech.com/bankservice/transports/xsd/1.0"  schemaLocation="bankservicetransports.xsd" />
	    </xsd:schema>
	</wsdl:types>

	<wsdl:message name="VerifyDepositRequest">
		<wsdl:part name="requestPart" element="transport:verifyDeposit" />
	</wsdl:message>

	<wsdl:message name="VerifyDepositResponse">
		<wsdl:part name="responsePart" element="transport:verifyDepositResponse" />
	</wsdl:message>

	<wsdl:message name="DepositRequest">
		<wsdl:part name="requestPart" element="transport:deposit" />
	</wsdl:message>

	<wsdl:message name="DepositResponse">
		<wsdl:part name="responsePart" element="transport:depositResponse" />
	</wsdl:message>

	<wsdl:message name="GetAccountBalanceRequest">
		<wsdl:part name="requestPart" element="transport:getAccountBalance" />
	</wsdl:message>

	<wsdl:message name="GetAccountBalanceResponse">
		<wsdl:part name="responsePart" element="transport:getAccountBalanceResponse" />
	</wsdl:message>

	<wsdl:message name="GetAccountListRequest">
		<wsdl:part name="requestPart" element="transport:getAccountList" />
	</wsdl:message>

	<wsdl:message name="GetAccountListResponse">
		<wsdl:part name="responsePart" element="transport:getAccountListResponse" />
	</wsdl:message>

	<wsdl:message name="WithdrawRequest">
		<wsdl:part name="requestPart" element="transport:withdraw" />
	</wsdl:message>

	<wsdl:message name="WithdrawResponse">
		<wsdl:part name="responsePart" element="transport:withdrawResponse" />
	</wsdl:message>

	<wsdl:message name="TransferBalanceRequest">
		<wsdl:part name="requestPart" element="transport:transferBalance" />
	</wsdl:message>

	<wsdl:message name="TransferBalanceResponse">
		<wsdl:part name="responsePart" element="transport:transferBalanceResponse" />
	</wsdl:message>

	<wsdl:portType name="BankServicePortType">
		<wsdl:operation name="VerifyDeposit">
			<wsdl:input message="tns:VerifyDepositRequest" />
			<wsdl:output message="tns:VerifyDepositResponse" />
		</wsdl:operation>
		<wsdl:operation name="Deposit">
			<wsdl:input message="tns:DepositRequest" />
			<wsdl:output message="tns:DepositResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetAccountList">
			<wsdl:input message="tns:GetAccountListRequest" />
			<wsdl:output message="tns:GetAccountListResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetAccountBalance">
			<wsdl:input message="tns:GetAccountBalanceRequest" />
			<wsdl:output message="tns:GetAccountBalanceResponse" />
		</wsdl:operation>
		<wsdl:operation name="TransferBalance">
			<wsdl:input message="tns:TransferBalanceRequest" />
			<wsdl:output message="tns:TransferBalanceResponse" />
		</wsdl:operation>
		<wsdl:operation name="Withdraw">
			<wsdl:input message="tns:WithdrawRequest" />
			<wsdl:output message="tns:WithdrawResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BankServiceBinding"
		type="tns:BankServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerifyDeposit">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/VerifyDeposit" />
			<wsdl:input>
				<soap:body parts="requestPart" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="responsePart" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Deposit">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/Deposit" />
			<wsdl:input>
				<soap:body parts="requestPart" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="responsePart" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccountList">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/GetAccountList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccountBalance">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/GetAccountBalance" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TransferBalance">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/TransferBalance" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Withdraw">
			<soap:operation
				soapAction="http://www.fusiontech.com/bankservice/wsdl/1.0/Withdraw" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    </wsdl:binding>

	<wsdl:service name="BankService">
		<wsdl:port binding="tns:BankServiceBinding"
			name="BankServicePort">
			<soap:address location="http://localhost:8080/bankservice" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
